<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Тренды Ответы Mail.Ru</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Популярные темы за в Ответы Mail.Ru">
    <meta name="keywords" content="mail.ru">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='https://unpkg.com/v-calendar/lib/v-calendar.min.css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .modal {
            overflow: auto !important;
        }

        .flextable {
            table-layout: fixed;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div id="starting">
    <div class="container">
        <h1>
            <p class="text-center">Тренды Ответы Mail.Ru</p>
        </h1>
        <div class="wrapper">
            <input type="text" @change="onSearchChangeMain()" v-model="searchTextMain" class="form-control"
                   placeholder="Укажите тему для вопросов">
            <div v-for="tag in tagListMain" v-if="loadingSearchMain===false">
                <div class="card">
                    <a href="#" onClick="return false;" v-on:click="openTagFromSearch(tag.id)">
                        ${tag.text}
                    </a>
                </div>
            </div>
            <div class="loading" v-if="loadingSearchMain===true">Загрузка&#8230;</div>
        </div>
        <h1>
            <p class="text-center">Популярные темы за ${ getText(period) }</p>
        </h1>
        <div class="btn-toolbar btn-group-justified" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <select v-model="selectedCategory" @change="onCategoryChange()">
                    <option v-for="option in options" v-bind:value="option.value">
                        ${ option.text }
                    </option>
                </select>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-info" v-on:click="updateRange('now 1-d')">За день</button>
                <button type="button" class="btn btn-info" v-on:click="updateRange('now 7-d')">За неделю</button>
                <button type="button" class="btn btn-info" v-on:click="updateRange('now 1-m')">За месяц</button>
                <button type="button" class="btn btn-info" v-on:click="updateRange('now 1-y')">За год</button>
{#                <button type="button" class="btn btn-info" v-on:click="showSelectCustomRange()">Произвольный период#}
{#                </button>#}
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Search group">
{#                <button type="button" class="btn btn-info" v-on:click="showSearchTag()">#}
{#                    Поиск по слову#}
{#                </button>#}
                <button type="button" class="btn btn-info" v-on:click="showSelectCustomRange()">Произвольный период
                </button>
            </div>
        </div>
        <table class="table flextable" v-if="loading===false">
            <thead>
            <tr>
                <th width="20%" scope="col">
                    <select v-model="selectedSortType" @change="onCategoryChange()">
                        <option v-for="option in sortTypes" v-bind:value="option.value">
                            ${ option.text }
                        </option>
                    </select>
                </th>
                <th width="80%" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="tag in tags">
                <th scope="row">${tag.questions_count}</th>
                <th scope="row">
                    <a href="#" v-on:click="getTag(tag.id)">${tag.text}</a>
                    {#                    <button class="btn btn-info" v-on:click="getTag(tag.id)">View Details</button>#}
                </th>
            </tr>
            </tbody>
        </table>
        <div class="loading" v-if="loading===true">Загрузка&#8230;</div>
        <div class="modal fade" id="tagDetailsModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Аналитика</h5>
                        <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h2>Динамика популярности</h2>
                        <div class="loading" v-if="loadingGraph===true">Загрузка&#8230;</div>
                        <line-chart v-if="loadingGraph===false" :points="false" :data="chartData"></line-chart>
                        <button class="btn btn-info" v-on:click="updateRangeForGraph('now 1-d')">За день</button>
                        <button class="btn btn-info" v-on:click="updateRangeForGraph('now 7-d')">За неделю</button>
                        <button class="btn btn-info" v-on:click="updateRangeForGraph('now 1-m')">За месяц</button>
                        <button class="btn btn-info" v-on:click="updateRangeForGraph('now 1-y')">За год</button>
                        <button class="btn btn-info" v-on:click="showSelectCustomRangeForGraph()">Произвольный период
                        </button>
                        <br/>
                        <br/>
                        <button class="btn btn-info" v-on:click="compare()">Сравнить</button>
                        <br/>
                        <br/>
                        <h2>Категории: </h2>
                        <select v-model="selectedCategoryForGraph" @change="onCategoryChangeForGraph()">
                            <option v-for="option in options" v-bind:value="option.value">
                                ${ option.text }
                            </option>
                        </select>
                        <h2>Вопросы:</h2>
                        <div class="loading" v-if="loadingQuestions===true">Загрузка&#8230;</div>
                        <table class="table flextable" v-if="loadingQuestions===false">
                            <thead>
                            <tr>
                                <th width="25%" scope="col">#</th>
                                <th width="75%" scope="col">Вопрос</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="question in questions">
                                <th scope="row">
                                    <a :href="toQuestion(question.id)">${question.id}</a>
                                </th>
                                <td>${question.text}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="tagCompareModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Сравнение</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="wrapper">
                            <input type="text" @change="onSearchChange()" v-model="searchText" class="form-control"
                                   placeholder="Поиск...">
                            <div v-for="tag in tagList" v-if="loadingSearch===false">
                                <div class="card" v-if="currentTagsIdsOnChart.indexOf(tag.id) === -1">
                                    <a href="#" onClick="return false;" v-on:click="addToGraph(tag.id)">
                                        ${tag.text}
                                    </a>
                                </div>
                            </div>
                            <div class="loading" v-if="loadingSearch===true">Загрузка&#8230;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="modal fade" id="tagSearchModal" tabindex="-1" role="dialog"#}
{#             aria-labelledby="exampleModalLongTitle" aria-hidden="true">#}
{#            <div class="modal-dialog" role="document">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <h5 class="modal-title" id="exampleModalLongTitle">Поиск</h5>#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                            <span aria-hidden="true">&times;</span>#}
{#                        </button>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <div class="wrapper">#}
{#                            <input type="text" @change="onSearchChange()" v-model="searchText" class="form-control"#}
{#                                   placeholder="Поиск...">#}
{#                            <div v-for="tag in tagList" v-if="loadingSearch===false">#}
{#                                <div class="card">#}
{#                                    <a href="#" onClick="return false;" v-on:click="openTagFromSearch(tag.id)">#}
{#                                        ${tag.text}#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="loading" v-if="loadingSearch===true">Загрузка&#8230;</div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="modal fade" id="customRangeForGraphModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Период</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <v-date-picker
                                :drag-attribute='dateRangeAttributes'
                                :select-attribute='dateRangeAttributes' mode='range'
                                v-model='selectedDates'
                                :is-inline='isInline'></v-date-picker>
                        <button :disabled="selectedDates==null" class="btn btn-info"
                                v-on:click="selectCustomRangeForGraph()">Выбрать
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="customRangeModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Период</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <v-date-picker
                                :drag-attribute='dateRangeAttributes'
                                :select-attribute='dateRangeAttributes' mode='range'
                                v-model='selectedDates'
                                :is-inline='isInline'></v-date-picker>
                        <button :disabled="selectedDates==null" class="btn btn-info"
                                v-on:click="selectCustomRange()">Выбрать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="https://unpkg.com/chart.js@2.7.2/dist/Chart.bundle.js"></script>
<script src="https://unpkg.com/vue-chartkick@0.5.0"></script>
<script src='https://unpkg.com/v-calendar'></script>
<script type="text/javascript">
    new Vue({
        el: '#starting',
        delimiters: ['${', '}'],
        data: {
            tags: [],
            tagList: [],
            tagListMain: [],
            loading: false,
            loadingGraph: false,
            loadingQuestions: false,
            loadingSearch: false,
            loadingSearchMain: false,
            currentTag: {},
            search: '',
            chartData: [],
            questions: [],
            period: '',
            periodForGraph: '',
            currentTagsIdsOnChart: [],
            selectedDates: null,
            datePickerModel: null,
            dateRangeAttributes: {
                popover: {
                    component: null
                }
            },
            isInline: true,
            selectedCategory: null,
            selectedCategoryForGraph: null,
            options: [
                {value: null, text: 'Все категории'},
            ],
            categories: [],
            selectedSortType: 'qcount',
            sortTypes: [
                {value: 'qcount', text: 'Количество вопросов'},
                {#{value: 'idf', text: 'IDF'},#}
            ],
            searchText: '',
            searchTextMain: '',
        },
        mounted: function () {
            this.period = 'now 1-d';
            this.getCategories();
            this.getTags();
        },
        methods: {
            getText: function (period) {
                if (period == 'now 1-d')
                    return 'последний день';
                else if (period == 'now 7-d')
                    return 'последнюю неделю';
                else if (period == 'now 1-m')
                    return 'последний месяц';
                else if (period == 'now 1-y')
                    return 'последний год';
                else if (this.selectedDates != null)
                    return this.selectedDates.start.toLocaleDateString() + " - " + this.selectedDates.end.toLocaleDateString();
                return period;
            },
            getTags: function () {
                this.loading = true;
                this.$http.get(`/tags/`, {
                    params: {
                        sortType: this.selectedSortType,
                        date: this.period,
                        catid: this.selectedCategory
                    }
                })
                    .then((response) => {
                        this.tags = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getTagsForSearch: function () {
                this.loading = true;
                this.$http.get(`/tags-search/`)
                    .then((response) => {
                        this.tagList = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getCategories: function () {
                this.$http.get('/categories/')
                    .then((response) => {
                        this.categories = response.data;
                        this.categories.forEach((obj) => {
                            this.options.push({value: obj.id, text: obj.name})
                        });
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            getTag: function (id) {
                this.loadingGraph = true;
                this.loadingQuestions = true;
                this.currentTag = id;
                this.currentTagsIdsOnChart = [this.currentTag];
                this.selectedCategoryForGraph = this.selectedCategory;
                this.selectedSortType = 'qcount';
                $("#tagDetailsModal").modal('show');
                this.periodForGraph = this.period;
                this.getQuestions();
                this.getGraphForMultipleTags();
            },
            getQuestions: function () {
                this.loadingQuestions = true;
                this.$http.get(`/questions/`, {
                    params: {
                        tags: this.currentTagsIdsOnChart,
                        date: this.periodForGraph,
                        catid: this.selectedCategoryForGraph
                    }
                })
                    .then((response) => {
                        this.questions = response.data;
                        this.loadingQuestions = false;
                    })
                    .catch((err) => {
                        this.loadingQuestions = false;
                        console.log(err);
                    });
            },
            getGraphForMultipleTags: function () {
                this.loadingGraph = true;
                this.$http.get(`/graph/`, {
                    params: {
                        tags: this.currentTagsIdsOnChart,
                        date: this.periodForGraph,
                        catid: this.selectedCategoryForGraph
                    }
                })
                    .then((response) => {
                        this.chartData = response.data;
                        this.loadingGraph = false;
                    })
                    .catch((err) => {
                        this.loadingGraph = false;
                        console.log(err);
                    })
            },
            compare: function () {
                $("#tagCompareModal").modal('show');
            },
            showSelectCustomRangeForGraph: function () {
                $("#customRangeForGraphModal").modal('show');
                this.selectedDates = null;
            },
            showSearchTag: function () {
                $("#tagSearchModal").modal('show');
            },
            openTagFromSearch: function (id) {
                $("#tagSearchModal").modal('hide');
                this.getTag(id);
            },
            selectCustomRangeForGraph: function () {
                this.loadingGraph = true;
                $("#customRangeForGraphModal").modal('hide');
                this.periodForGraph = this.selectedDates.start.toISOString() + " " + this.selectedDates.end.toISOString();
                this.getGraphForMultipleTags();
                this.getQuestions();
            },
            showSelectCustomRange: function () {
                $("#customRangeModal").modal('show');
                this.selectedDates = null;
            },
            selectCustomRange: function () {
                this.loadingGraph = true;
                $("#customRangeModal").modal('hide');
                this.period = this.selectedDates.start.toISOString() + " " + this.selectedDates.end.toISOString();
                this.getTags();
            },
            toQuestion: function (id) {
                return "https://otvet.mail.ru/question/" + id;
            },
            clearCurrentTagsOnChart: function () {
                this.currentTagsIdsOnChart = [];
            },
            addToGraph: function (id) {
                this.loadingGraph = true;
                if (this.currentTagsIdsOnChart.indexOf(id) === -1) {
                    this.currentTagsIdsOnChart.push(id);
                }
                $("#tagCompareModal").modal('hide');
                this.getGraphForMultipleTags();
                this.getQuestions();
            },
            onCategoryChange: function () {
                this.getTags();
            },
            onCategoryChangeForGraph: function () {
                this.getGraphForMultipleTags();
                this.getQuestions();
            },
            updateRangeForGraph: function (period) {
                this.periodForGraph = period;
                this.getGraphForMultipleTags();
                this.getQuestions();
            },
            updateRange: function (period) {
                this.period = period;
                this.getTags()
            },
            onSearchChange: function () {
                if (this.searchText.length === 0) {
                    this.tagList = [];
                    return;
                }
                this.loadingSearch = true;
                this.$http.get(`/tags-search/`, {
                    params: {
                        searchText: this.searchText
                    }
                })
                    .then((response) => {
                        this.tagList = response.data;
                        this.loadingSearch = false;
                    })
                    .catch((err) => {
                        this.loadingSearch = false;
                        console.log(err);
                    });
            },
            onSearchChangeMain: function () {
                if (this.searchTextMain.length === 0) {
                    this.tagListMain = [];
                    return;
                }
                this.loadingSearchMain = true;
                this.$http.get(`/tags-search/`, {
                    params: {
                        searchText: this.searchTextMain
                    }
                })
                    .then((response) => {
                        this.tagListMain = response.data;
                        this.loadingSearchMain = false;
                    })
                    .catch((err) => {
                        this.loadingSearchMain = false;
                        console.log(err);
                    });
            }
        }
    });

</script>
</body>
</html>