<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Vue-js | Django | Crud App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple crud app made with the vue js and django">
    <meta name="keywords" content="vuejs, django, crudapp, restapi">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div id="starting">
    <div class="container">
        <div class="row">
            <h1>List of Popular tags
            </h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tag</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="tag in tags">
                    <th scope="row">${tag.id}</th>
                    <td>${tag.text}</td>
                    <td>
                        <button class="btn btn-info" v-on:click="getTag(tag.id)">View Details</button>
                        {#                  <button class="btn btn-danger" v-on:click="deleteArticle(article.article_id)">Delete</button>#}
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="modal fade" id="editArticleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Tag Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h2>Time Trend</h2>
                            <line-chart :data="chartData"></line-chart>
                            <button class="btn btn-info" v-on:click="getDay()">Day</button>
                            <button class="btn btn-info" v-on:click="getWeek()">Week</button>
                            <button class="btn btn-info" v-on:click="getMonth()">Month</button>
                            <button class="btn btn-info" v-on:click="getAllTime()">All Time</button>
                            <h2>Questions:</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Question</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="question in questions">
                                    <th scope="row">
                                        <div style="cursor: pointer; color:blue; text-decoration:underline;"
                                             v-on:click="toQuestion(question.id)">${question.id}
                                        </div>
                                    </th>
                                    <td>${question.text}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                        {#                        <form v-on:submit.prevent="updateArticle()">#}
                        {#                            <div class="modal-body">#}
                        {#                                <div class="form-group">#}
                        {#                                    <label for="article_heading">Article Heading</label>#}
                        {#                                    <input#}
                        {#                                            type="text"#}
                        {#                                            class="form-control"#}
                        {#                                            id="article_heading"#}
                        {#                                            placeholder="Enter Article Heading"#}
                        {#                                            v-model="currentArticle.article_heading"#}
                        {#                                            required="required">#}
                        {#                                </div>#}
                        {#                                <div class="form-group">#}
                        {#                                    <label for="article_body">Article Body</label>#}
                        {#                                    <textarea#}
                        {#                                            class="form-control"#}
                        {#                                            id="article_body"#}
                        {#                                            placeholder="Enter Article Body"#}
                        {#                                            v-model="currentArticle.article_body"#}
                        {#                                            required="required"#}
                        {#                                            rows="3"></textarea>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <div class="modal-footer">#}
                        {#                                <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close#}
                        {#                                </button>#}
                        {#                                <button type="submit" class="btn btn-primary">Save changes</button>#}
                        {#                            </div>#}
                        {#                        </form>#}
                    </div>
                </div>
                <div class="loading" v-if="loading===true">Loading&#8230;</div>
            </div>
            {#            <table class="table">#}
            {#                <thead>#}
            {#                <tr>#}
            {#                    <th scope="col">#</th>#}
            {#                    <th scope="col">Question</th>#}
            {#                </tr>#}
            {#                </thead>#}
            {#                <tbody>#}
            {#                <tr v-for="question in questions">#}
            {#                    <th scope="row">${question.id}</th>#}
            {#                    <td>${question.text}</td>#}
            {#                </tr>#}
            {#                </tbody>#}
            {#            </table>#}
        </div>
    </div>
    <div class="loading" v-if="loading===true">Loading&#8230;</div>
    {#    <line-chart :data="chartData"></line-chart>#}

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="https://unpkg.com/chart.js@2.7.2/dist/Chart.bundle.js"></script>
<script src="https://unpkg.com/vue-chartkick@0.5.0"></script>
<script type="text/javascript">
    new Vue({
        el: '#starting',
        delimiters: ['${', '}'],
        data: {
            tags: [],
            loading: false,
            currentTag: {},
            message: null,
            newArticle: {'article_heading': null, 'article_body': null},
            chartData: [],
            questions: [],
        },
        mounted: function () {
            this.getTags();
        },
        methods: {
            getTags: function () {
                this.loading = true;
                this.$http.get('/tags/')
                    .then((response) => {
                        this.tags = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getTag: function (id) {
                this.loading = true;
                this.$http.get(`/questions/${id}`)
                    .then((response) => {
                        this.questions = response.data;
                        $("#editArticleModal").modal('show');
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    });
                this.$http.get(`/graph/${id}/1-d`)
                    .then((response) => {
                        this.chartData = response.data;
                        this.loading = false;
                        this.currentTag = id
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getDay: function () {
                this.$http.get(`/graph/${this.currentTag}/1-d`)
                    .then((response) => {
                        this.chartData = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getWeek: function () {
                this.$http.get(`/graph/${this.currentTag}/7-d`)
                    .then((response) => {
                        this.chartData = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getMonth: function () {
                this.$http.get(`/graph/${this.currentTag}/1-m`)
                    .then((response) => {
                        this.chartData = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getAllTime: function () {
                this.$http.get(`/graph/${this.currentTag}/a`)
                    .then((response) => {
                        this.chartData = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            toQuestion: function (id) {
                window.location.href = "https://otvet.mail.ru/question/" + id;
            },
        }

    });

</script>
</body>
</html>