<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Vue-js | Django | Crud App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple crud app made with the vue js and django">
    <meta name="keywords" content="vuejs, django, crudapp, restapi">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .modal {
            overflow: auto !important;
        }
    </style>
</head>
<body>
<div id="starting">
    <div class="container">
        <div class="row">
            <h1>List of Popular tags
            </h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tag</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="tag in tags">
                    <th scope="row">${tag.id}</th>
                    <td>${tag.text}</td>
                    <td>
                        <button class="btn btn-info" v-on:click="getTag(tag.id)">View Details</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="modal fade" id="tagDetailsModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Tag Details</h5>
                            <button type="button" v-on:click="clearCurrentTagsOnChart()" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h2>Time Trend</h2>
                            <line-chart :points="false" :data="chartData"></line-chart>
                            <button class="btn btn-info" v-on:click="getDay()">Day</button>
                            <button class="btn btn-info" v-on:click="getWeek()">Week</button>
                            <button class="btn btn-info" v-on:click="getMonth()">Month</button>
                            <button class="btn btn-info" v-on:click="getAllTime()">All Time</button>
                            <br/>
                            <br/>
                            <button class="btn btn-info" v-on:click="compare()">Compare</button>
                            <h2>Questions:</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Question</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="question in questions">
                                    <th scope="row">
                                        <a :href="toQuestion(question.id)">${question.id}</a>
                                    </th>
                                    <td>${question.text}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="loading" v-if="loading===true">Loading&#8230;</div>
            </div>
            <div class="modal fade" id="tagCompareModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Tag Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
{#                            <div class="search-wrapper">#}
{#                                <input type="text" v-model="search" placeholder="Search tag.."/>#}
{#                            </div>#}
                            <div class="wrapper">
                                <div v-for="tag in tags">
                                    <div class="card" v-if="currentTagsIdsOnChart.indexOf(tag.id) === -1">
                                        <a href="#" onClick="return false;" v-on:click="addToGraph(tag.id)">
                                            ${tag.text}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loading" v-if="loading===true">Loading&#8230;</div>
            </div>
        </div>
    </div>
    <div class="loading" v-if="loading===true">Loading&#8230;</div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="https://unpkg.com/chart.js@2.7.2/dist/Chart.bundle.js"></script>
<script src="https://unpkg.com/vue-chartkick@0.5.0"></script>
<script type="text/javascript">
    new Vue({
        el: '#starting',
        delimiters: ['${', '}'],
        data: {
            tags: [],
            loading: false,
            currentTag: {},
            search: '',
            newArticle: {'article_heading': null, 'article_body': null},
            chartData: [],
            questions: [],
            period: '',
            currentTagsIdsOnChart: [],
        },
        mounted: function () {
            this.getTags();
        },
        methods: {
            getTags: function () {
                this.loading = true;
                this.$http.get('/tags/')
                    .then((response) => {
                        this.tags = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getTag: function (id) {
                this.loading = true;
                this.$http.get(`/questions/${id}`)
                    .then((response) => {
                        this.questions = response.data;
                        $("#tagDetailsModal").modal('show');
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    });
                this.$http.get(`/graph/?tagid=${id}&date=now 1-d`)
                    .then((response) => {
                        this.chartData = response.data;
                        this.loading = false;
                        this.currentTag = id;
                        this.period = 'now 1-d';
                        this.currentTagsIdsOnChart = [this.currentTag];
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getDay: function () {
                this.$http.get(`/graph/?tagid=${this.currentTag}&date=now 1-d`)
                    .then((response) => {
                        this.chartData = response.data;
                        this.loading = false;
                        this.period = 'now 1-d';
                        this.currentTagsIdsOnChart = [this.currentTag];
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getWeek: function () {
                this.$http.get(`/graph/?tagid=${this.currentTag}&date=now 7-d`)
                    .then((response) => {
                        this.chartData = response.data;
                        this.loading = false;
                        this.period = 'now 7-d';
                        this.currentTagsIdsOnChart = [this.currentTag];
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getMonth: function () {
                this.$http.get(`/graph/?tagid=${this.currentTag}&date=now 1-m`)
                    .then((response) => {
                        this.chartData = response.data;
                        this.loading = false;
                        this.period = 'now 1-m';
                        this.currentTagsIdsOnChart = [this.currentTag];
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getAllTime: function () {
                this.$http.get(`/graph/?tagid=${this.currentTag}&date=all`)
                    .then((response) => {
                        this.chartData = response.data;
                        this.loading = false;
                        this.period = 'all';
                        this.currentTagsIdsOnChart = [this.currentTag];
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            compare: function () {
                $("#tagCompareModal").modal('show');
            },
            toQuestion: function (id) {
                return "https://otvet.mail.ru/question/" + id;
            },
            clearCurrentTagsOnChart: function () {
                this.currentTagsIdsOnChart = [];
            },
            addToGraph: function (id) {
                this.$http.get(`/graph/?tagid=${id}&date=${this.period}`)
                    .then((response) => {
                        this.chartData.push(response.data[0]);
                        this.loading = false;
                        $("#tagCompareModal").modal('hide');
                        if (this.currentTagsIdsOnChart.indexOf(id) === -1) {
                            this.currentTagsIdsOnChart.push(id);
                        }
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
        }

    });

</script>
</body>
</html>