<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Тренды Ответы Mail.Ru</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Популярные темы за в Ответы Mail.Ru">
    <meta name="keywords" content="mail.ru">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='https://unpkg.com/v-calendar/lib/v-calendar.min.css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }

        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }

        .carousel-control-prev {
            left: -20%;
        }

        .carousel-control-next {
            right: -20%;
        }

        .carousel-caption {
            top: 10%;
            color: black;
            z-index: -1;
        }

        .land-text-big {
            font-family: Merriweather;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 5vw;
            color: #FFFFFF;
        }

        .land-text {
            font-family: Merriweather;
            font-style: normal;
            font-weight: normal;
            font-size: 2.5vw;
        }

        @media screen and (max-width: 576px) {
            .land-text-big {
                font-size: 30px;
            }
            .land-text {
                font-size: 15px;
            }
        }

        .bg-cover {
            z-index: -1;
            width: 100%;
            height: 100vh;
            background: url("http://i64.tinypic.com/rhon86.png") no-repeat center;
            background-size: cover;
            background-position: 0 30px;
        }

        .bg-shade {
            z-index: 1;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-position: 0 30px;
        }

        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }

        .preloader {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background: #fff url(https://img.imgsmail.ru/pkgs/otvet/static/i/images/preloader.gif) no-repeat 50% 50%;
            z-index: 5;
            top: 0;
            left: 0;
{#            opacity: .85;#}
        }

    </style>
</head>
<body>

{% include "navbar.html" %}


<div id="starting">

    <div class="bg-cover">
        <div class="bg-shade">
            <div style="min-height: 25vh"></div>
            <div class="container " style="color: white;">
                <div class="row" style="margin-top: 2em">
                    <div class="col-12 ">
                        <p class="land-text-big">Узнайте, что <br> сейчас в тренде</p>
                    </div>
                </div>
                <div class="row" style="margin-top: 2em">
                    <div class="col-12 land-text">
                        Ответы.Тренды — аналитическая <br> платформа для оценивания <br> восприятия трендов.
                    </div>
                </div>
                <div class="row" style="margin-top: 2em">
                    <div class="col-12 ">
                        <button type="button" class="btn btn-primary btn-lg" v-on:click="gotosite()">Перейти к трендам
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-around">
        <div class="w-75">
            <div id="demo" class="carousel slide" data-ride="carousel" style="margin-top: 5em;" data-interval="false">

                <!-- Indicators -->
{#                          <ul class="carousel-indicators">#}
{#                            <li data-target="#demo" data-slide-to="0" class="active"></li>#}
{#                            <li data-target="#demo" data-slide-to="1"></li>#}
{#                            <li data-target="#demo" data-slide-to="2"></li>#}
{#                          </ul>#}

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center">
                            <h5><p class="text-center"> Пора готовиться к новому году? </p></h5>
                        </div>
                        <div class="loading" v-if="loadingGraph===true"><i class="preloader"></i></div>
                        <line-chart v-if="loadingGraph===false" :points="false" :data="exampleChartData1"></line-chart>
{#                        <div class="carousel-caption d-none d-md-block">#}
{#                            <h5> Пора готовиться к новому году?</h5>#}
{#                        </div>#}
                    </div>
                    <div class="carousel-item">
                        <div class="loading" v-if="loadingGraph2===true">Загрузка&#8230;</div>
                        <div class="d-flex justify-content-center">
                             <h5> <p class="text-center">Какой артист на большем хайпе?</p> </h5>
                        </div>
                        <line-chart v-if="loadingGraph2===false" :points="false" :data="exampleChartData2"></line-chart>
                    </div>
                    <div class="carousel-item">
                        <div class="loading" v-if="loadingGraph3===true">Загрузка&#8230;</div>
                        <div class="d-flex justify-content-center">
                             <h5> <p class="text-center"> Кто был футбольным героем минувшего чемпионата? </p> </h5>
                        </div>
                        <line-chart v-if="loadingGraph3===false" :points="false" :data="exampleChartData3"></line-chart>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
        </div>
    </div>


    <div style="margin-top: 2em;">
        <p class="text-center">
            Динамические графики трендов Ответов@Mail.Ru помогут понять, <br>
            чем интересуются люди по всей России
        </p>
    </div>

    <div class="bg-primary" style="bottom: 0; margin-top: 4em; height: 300px; color:white;">
        <div style="min-height: 2em"></div>
        <div class="container">
            <div class="row" style="margin-top: 2em">
                <div class="col-12 d-flex justify-content-center">
                    <h2>Заинтересовались?</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 2em">
                <div class="col-12 d-flex justify-content-center">
                    Попробуйте платформу прямо сейчас
                </div>
            </div>
            <div class="row" style="margin-top: 2em">
                <div class="col-12 d-flex justify-content-center">
                    <button type="button" class="btn btn-warning btn-lg" v-on:click="gotosite()">Перейти к трендам
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="https://unpkg.com/chart.js@2.7.2/dist/Chart.bundle.js"></script>
<script src="https://unpkg.com/vue-chartkick@0.5.0"></script>
<script src='https://unpkg.com/v-calendar'></script>
<script type="text/javascript">
    new Vue({
        el: '#starting',
        delimiters: ['${', '}'],
        data: {
            tags: [],
            tagList: [],
            tagListMain: [],
            loading: false,
            loadingGraph: false,
            loadingGraph2: false,
            loadingGraph3: false,
            loadingQuestions: false,
            loadingSearch: false,
            loadingSearchMain: false,
            currentTag: {},
            search: '',
            chartData: [],
            exampleChartData1: [],
            exampleChartData2: [],
            exampleChartData3: [],
            questions: [],
            period: '',
            periodForGraph: '',
            currentTagsIdsOnChart: [],
            selectedDates: null,
            datePickerModel: null,
            dateRangeAttributes: {
                popover: {
                    component: null
                }
            },
            isInline: true,
            selectedCategory: null,
            selectedCategoryForGraph: null,
            options: [
                {value: null, text: 'Все категории'},
            ],
            categories: [],
            selectedSortType: 'qcount',
            sortTypes: [
                {value: 'qcount', text: 'Количество вопросов'},
                {#{value: 'idf', text: 'IDF'},#}
            ],
            searchText: '',
            searchTextMain: '',
        },
        mounted: function () {
            this.period = 'now 1-d';
            this.getCategories();
            this.getTags();
            this.getLandingGraph();
        },
        methods: {
            getText: function (period) {
                if (period == 'now 1-d')
                    return 'последний день';
                else if (period == 'now 7-d')
                    return 'последнюю неделю';
                else if (period == 'now 1-m')
                    return 'последний месяц';
                else if (period == 'now 1-y')
                    return 'последний год';
                else if (this.selectedDates != null)
                    return this.selectedDates.start.toLocaleDateString() + " - " + this.selectedDates.end.toLocaleDateString();
                return period;
            },
            getTags: function () {
                this.loading = true;
                this.$http.get(`/tags/`, {
                    params: {
                        sortType: this.selectedSortType,
                        date: this.period,
                        catid: this.selectedCategory
                    }
                })
                    .then((response) => {
                        this.tags = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getTagsForSearch: function () {
                this.loading = true;
                this.$http.get(`/tags-search/`)
                    .then((response) => {
                        this.tagList = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getCategories: function () {
                this.$http.get('/categories/')
                    .then((response) => {
                        this.categories = response.data;
                        this.categories.forEach((obj) => {
                            this.options.push({value: obj.id, text: obj.name})
                        });
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            getTag: function (id) {
                this.loadingGraph = true;
                this.loadingQuestions = true;
                this.currentTag = id;
                this.currentTagsIdsOnChart = [this.currentTag];
                this.selectedCategoryForGraph = this.selectedCategory;
                this.selectedSortType = 'qcount';
                $("#tagDetailsModal").modal('show');
                this.periodForGraph = this.period;
                this.getQuestions();
                this.getGraphForMultipleTags();
            },
            getQuestions: function () {
                this.loadingQuestions = true;
                this.$http.get(`/questions/`, {
                    params: {
                        tags: this.currentTagsIdsOnChart,
                        date: this.periodForGraph,
                        catid: this.selectedCategoryForGraph
                    }
                })
                    .then((response) => {
                        this.questions = response.data;
                        this.loadingQuestions = false;
                    })
                    .catch((err) => {
                        this.loadingQuestions = false;
                        console.log(err);
                    });
            },
            getGraphForMultipleTags: function () {
                this.loadingGraph = true;
                this.$http.get(`/graph/`, {
                    params: {
                        tags: this.currentTagsIdsOnChart,
                        date: this.periodForGraph,
                        catid: this.selectedCategoryForGraph
                    }
                })
                    .then((response) => {
                        this.chartData = response.data;
                        this.loadingGraph = false;
                    })
                    .catch((err) => {
                        this.loadingGraph = false;
                        console.log(err);
                    })
            },
            compare: function () {
                $("#tagCompareModal").modal('show');
            },
            showSelectCustomRangeForGraph: function () {
                $("#customRangeForGraphModal").modal('show');
                this.selectedDates = null;
            },
            showSearchTag: function () {
                $("#tagSearchModal").modal('show');
            },
            openTagFromSearch: function (id) {
                $("#tagSearchModal").modal('hide');
                this.getTag(id);
            },
            selectCustomRangeForGraph: function () {
                this.loadingGraph = true;
                $("#customRangeForGraphModal").modal('hide');
                this.periodForGraph = this.selectedDates.start.toISOString() + " " + this.selectedDates.end.toISOString();
                this.getGraphForMultipleTags();
                this.getQuestions();
            },
            showSelectCustomRange: function () {
                $("#customRangeModal").modal('show');
                this.selectedDates = null;
            },
            selectCustomRange: function () {
                this.loadingGraph = true;
                $("#customRangeModal").modal('hide');
                this.period = this.selectedDates.start.toISOString() + " " + this.selectedDates.end.toISOString();
                this.getTags();
            },
            toQuestion: function (id) {
                return "https://otvet.mail.ru/question/" + id;
            },
            clearCurrentTagsOnChart: function () {
                this.currentTagsIdsOnChart = [];
            },
            addToGraph: function (id) {
                this.loadingGraph = true;
                if (this.currentTagsIdsOnChart.indexOf(id) === -1) {
                    this.currentTagsIdsOnChart.push(id);
                }
                $("#tagCompareModal").modal('hide');
                this.getGraphForMultipleTags();
                this.getQuestions();
            },
            onCategoryChange: function () {
                this.getTags();
            },
            onCategoryChangeForGraph: function () {
                this.getGraphForMultipleTags();
                this.getQuestions();
            },
            updateRangeForGraph: function (period) {
                this.periodForGraph = period;
                this.getGraphForMultipleTags();
                this.getQuestions();
            },
            updateRange: function (period) {
                this.period = period;
                this.getTags()
            },
            onSearchChange: function () {
                if (this.searchText.length === 0) {
                    this.tagList = [];
                    return;
                }
                this.loadingSearch = true;
                this.$http.get(`/tags-search/`, {
                    params: {
                        searchText: this.searchText
                    }
                })
                    .then((response) => {
                        this.tagList = response.data;
                        this.loadingSearch = false;
                    })
                    .catch((err) => {
                        this.loadingSearch = false;
                        console.log(err);
                    });
            },
            onSearchChangeMain: function () {
                if (this.searchTextMain.length === 0) {
                    this.tagListMain = [];
                    return;
                }
                this.loadingSearchMain = true;
                this.$http.get(`/tags-search/`, {
                    params: {
                        searchText: this.searchTextMain
                    }
                })
                    .then((response) => {
                        this.tagListMain = response.data;
                        this.loadingSearchMain = false;
                    })
                    .catch((err) => {
                        this.loadingSearchMain = false;
                        console.log(err);
                    });
            },

            getLandingGraph: function () {
                this.loadingGraph = true;
                this.loadingGraph2 = true;
                this.loadingGraph3 = true;
                this.$http.get(`/graph/`, {
                    params: {
                        tags: [2700],
                        date: "now 6-m",
{#                        tags: [1159],#}
{#                        date: "2017-12-28T01:00:00.000Z 2018-01-17T21:00:00.000Z",#}
                        catid: null
                    }
                })
                    .then((response) => {
                        this.exampleChartData1 = response.data;
                        this.loadingGraph = false;
                    })
                    .catch((err) => {
                        this.loadingGraph = false;
                        console.log(err);
                    });

                this.$http.get(`/graph/`, {
                    params: {
                        tags: [102812, 10171],
                        date: "now 6-m",
                        catid: null
                    }
                })
                    .then((response) => {
                        this.exampleChartData2 = response.data;
                        this.loadingGraph2 = false;
                    })
                    .catch((err) => {
                        this.loadingGraph2 = false;
                        console.log(err);
                    });

                this.$http.get(`/graph/`, {
                    params: {
                        tags: [298918, 18674, 7476959],
                        date: "2018-06-13T21:00:00.000Z 2018-07-25T21:00:00.000Z",
                        catid: null
                    }
                })
                    .then((response) => {
                        this.exampleChartData3 = response.data;
                        this.loadingGraph3 = false;
                    })
                    .catch((err) => {
                        this.loadingGraph3 = false;
                        console.log(err);
                    })
            },
            gotosite() {
                window.location.href = "trends";
            },
        }
    });
</script>
</body>
</html>