<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Тренды Ответы Mail.Ru</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Популярные темы за в Ответы Mail.Ru">
    <meta name="keywords" content="mail.ru">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='https://unpkg.com/v-calendar/lib/v-calendar.min.css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .grey-bg {
            background: #F5F5F5;
        }

        body {
            background: #E7E7E7;
        }

        .modal {
            overflow: auto !important;
        }

        .flextable {
            table-layout: fixed;
            word-wrap: break-word;
        }

        .preloader {
            position: relative;
            display: block;
            width: 18px;
            height: 18px;
            background: #fff url(https://img.imgsmail.ru/pkgs/otvet/static/i/images/preloader.gif) no-repeat;
            z-index: 5;
{#            top: 0;#}
{#            left: 0;#}
        {#            opacity: .85;#}
        }
    </style>
</head>
<body>

{% include "navbar.html" %}


<div id="starting">

    <div style="min-height: 65px"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Поиск</h5>

                        <input type="text" @change="onSearchChangeMain()" v-model="searchTextMain"
                               class="form-control grey-bg"
                               placeholder="Укажите тему для вопросов">

                        <div v-for="tag in tagListMain" v-if="loadingSearchMain===false">
                            <div class="card">
                                <a href="#" onClick="return false;" v-on:click="getTagFromSearchOnMain(tag.id)">
                                    ${tag.text}
                                </a>
                            </div>
                        </div>
                        <div class="loading" v-if="loadingSearchMain===true">Загрузка&#8230;</div>

                        <div class="btn-toolbar btn-group-justified" role="toolbar"
                             aria-label="Toolbar with button groups">

                            <div class="btn-group mr-2" role="group" aria-label="First group" style="margin-top: 0.5em">
                                <select v-model="selectedCategory" @change="onCategoryChange()"
                                        class="custom-select grey-bg">
                                    <option v-for="option in options" v-bind:value="option.value">
                                        ${ option.text }
                                    </option>
                                </select>
                            </div>

                            <div class="btn-group mr-2" role="group" aria-label="Second group" style="margin-top: 0.5em">
                                <button type="button" class="btn btn-outline-primary"
                                        v-on:click="updateRange('now 1-d')">Сегодня
                                </button>
                                <button type="button" class="btn btn-outline-primary"
                                        v-on:click="updateRange('now 7-d')">Неделя
                                </button>
                                <button type="button" class="btn btn-outline-primary"
                                        v-on:click="updateRange('now 1-m')">Месяц
                                </button>
                                <button type="button" class="btn btn-outline-primary"
                                        v-on:click="updateRange('now 1-y')">Год
                                </button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Search group" style="margin-top: 0.5em">
                                <button type="button" class="btn btn-link" v-on:click="showSelectCustomRange()">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    Указать период
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9" style="margin-top: 1em;">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Популярное за ${ getText(period) }</h6>
                        <div style="margin-top: 2em; margin-bottom: 2em" v-if="loading===true">
                            <div class="loading d-flex justify-content-center" ><i class="preloader"></i></div>
                        </div>
                        <table class="table flextable" v-if="loading===false">
                            <thead>
                            <tr>
                                <th width="20%" scope="col">
                                    №
                                </th>
                                <th width="40%" scope="col">Тренд</th>
                                <th width="20%" scope="col">
                                    Количество вопросов
{#                                    <select v-model="selectedSortType" @change="onCategoryChange()">#}
{#                                        <option v-for="option in sortTypes" v-bind:value="option.value">#}
{#                                            ${ option.text }#}
{#                                        </option>#}
{#                                    </select>#}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(tag, index) in tags">
                                <th>${index + 1}</th>
                                <th scope="row">
                                    <a href="#" v-on:click="getTag(tag.id)">${tag.text}</a>
                                </th>
                                <th scope="row">${tag.questions_count}</th>
                            </tr>
                            </tbody>
                        </table>
{#                        <div class="loading" v-if="loading===true">Загрузка&#8230;</div>#}
                        <div style="margin-top: 2em; margin-bottom: 2em" v-if="loadingGraph===true">
                            <div class="loading d-flex justify-content-center" ><i class="preloader"></i></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tagDetailsModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLongTitle">Аналитика по трендам ${getCurrentTagsNames()}</h6>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-12">
{#                                <div class="card">#}
{#                                    <div class="card-body">#}
                                        <h5>Динамика популярности за ${ getTextForGraph(periodForGraph) }</h5>
{#                                        <div class="loading" v-if="loadingGraph===true">Загрузка&#8230;</div>#}
                                        <div style="margin-top: 2em; margin-bottom: 2em" v-if="loadingGraph===true">
                                            <div class="loading d-flex justify-content-center"><i class="preloader"></i></div>
                                        </div>
                                        <line-chart v-if="loadingGraph===false" :points="false"
                                                    :data="chartData"></line-chart>
                                        <div class="btn-toolbar btn-group-justified" role="toolbar"
                                             aria-label="Toolbar with button groups">

                                            <div class="btn-group mr-2" role="group" aria-label="First group" style="margin-top: 0.5em">
                                                <button class="btn btn-primary" v-on:click="compare()">Сравнить
                                                </button>
                                            </div>
                                            <div class="btn-group mr-2" role="group" aria-label="Second group" style="margin-top: 0.5em">
                                                <button type="button" class="btn btn-outline-primary"
                                                        v-on:click="updateRangeForGraph('now 1-d')">Сегодня
                                                </button>
                                                <button type="button" class="btn btn-outline-primary"
                                                        v-on:click="updateRangeForGraph('now 7-d')">Неделя
                                                </button>
                                                <button type="button" class="btn btn-outline-primary"
                                                        v-on:click="updateRangeForGraph('now 1-m')">Месяц
                                                </button>
                                                <button type="button" class="btn btn-outline-primary"
                                                        v-on:click="updateRangeForGraph('now 1-y')">Год
                                                </button>
                                            </div>
                                            <div class="btn-group mr-2" role="group" aria-label="Search group" style="margin-top: 0.5em">
                                                <button type="button" class="btn btn-link"
                                                        v-on:click="showSelectCustomRangeForGraph()">
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    Указать период
                                                </button>
                                            </div>
                                            <div class="btn-group mr-2" role="group" aria-label="Select group" style="margin-top: 0.5em">
                                                <select v-model="selectedCategoryForGraph"
                                                        @change="onCategoryChangeForGraph()"
                                                        class="custom-select grey-bg">
                                                    <option v-for="option in options" v-bind:value="option.value">
                                                        ${ option.text }
                                                    </option>
                                                </select>
                                            </div>
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                                <hr/>
                            </div>

                            <div class="col-12" style="margin-top: 1em;">
{#                                <div class="card">#}
{#                                    <div class="card-body">#}
                                        <h5>Вопросы по тренду</h5>
{#                                        <div class="loading" v-if="loadingQuestions===true">Загрузка&#8230;</div>#}
                                        <div style="margin-top: 2em; margin-bottom: 2em" v-if="loadingQuestions===true">
                                            <div class="loading d-flex justify-content-center"><i class="preloader"></i></div>
                                        </div>
                                        <table class="table flextable" v-if="loadingQuestions===false">
                                            <thead>
                                            <tr>
                                                <th width="30%" scope="col">id</th>
                                                <th width="70%" scope="col">Вопрос</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="question in questions">
                                                <th scope="row">
                                                    <a :href="toQuestion(question.id)">${question.id}</a>
                                                </th>
                                                <td>${getTextTrunc(question.text)}</td>
                                            </tr>
                                            </tbody>
                                        </table>
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="tagCompareModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Сравнение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="wrapper">
                        <input type="text" @change="onSearchChange()" v-model="searchText" class="form-control"
                               placeholder="Поиск...">
                        <div v-for="tag in tagList" v-if="loadingSearch===false">
                            <div class="card" v-if="currentTagsIdsOnChart.indexOf(tag.id) === -1">
                                <a href="#" onClick="return false;" v-on:click="addToGraph(tag.id)">
                                    ${tag.text}
                                </a>
                            </div>
                        </div>
                        <div style="margin-top: 2em; margin-bottom: 2em" v-if="loadingSearch===true">
                            <div class="loading d-flex justify-content-center"><i class="preloader"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="customRangeModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <v-date-picker
                        :drag-attribute='dateRangeAttributes'
                        :select-attribute='dateRangeAttributes' mode='range'
                        v-model='selectedDates'
                        :is-inline='isInline'></v-date-picker>
                <button :disabled="selectedDates==null" class="btn btn-primary"
                        style="border-radius: 0;"
                        v-on:click="selectCustomRange()">Выбрать
                </button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="customRangeForGraphModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <v-date-picker
                        :drag-attribute='dateRangeAttributes'
                        :select-attribute='dateRangeAttributes' mode='range'
                        v-model='selectedDatesForGraph'
                        :is-inline='isInline'></v-date-picker>
                <button :disabled="selectedDatesForGraph==null" class="btn btn-primary"
                        style="border-radius: 0;"
                        v-on:click="selectCustomRangeForGraph()">Выбрать
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="https://unpkg.com/chart.js@2.7.2/dist/Chart.bundle.js"></script>
<script src="https://unpkg.com/vue-chartkick@0.5.0"></script>
<script src='https://unpkg.com/v-calendar'></script>
<script type="text/javascript">
    new Vue({
        el: '#starting',
        delimiters: ['${', '}'],
        data: {
            tags: [],
            tagList: [],
            tagListMain: [],
            loading: false,
            loadingGraph: false,
            loadingQuestions: false,
            loadingSearch: false,
            loadingSearchMain: false,
            currentTag: {},
            search: '',
            chartData: [],
            questions: [],
            period: '',
            periodForGraph: '',
            currentTagsIdsOnChart: [],
            selectedDates: null,
            selectedDatesForGraph: null,
            datePickerModel: null,
            dateRangeAttributes: {
                popover: {
                    component: null
                }
            },
            isInline: true,
            selectedCategory: null,
            selectedCategoryForGraph: null,
            options: [
                {value: null, text: 'Все категории'},
            ],
            categories: [],
            selectedSortType: 'qcount',
            sortTypes: [
                {value: 'qcount', text: 'Количество вопросов'},
                {#{value: 'idf', text: 'IDF'},#}
            ],
            searchText: '',
            searchTextMain: '',
            slide: 0,
            sliding: null,
        },
        mounted: function () {
            this.period = 'now 1-d';
            this.getCategories();
            this.getTags();
        },
        methods: {
            getText: function (period) {
                if (period == 'now 1-d')
                    return 'последний день';
                else if (period == 'now 7-d')
                    return 'последнюю неделю';
                else if (period == 'now 1-m')
                    return 'последний месяц';
                else if (period == 'now 1-y')
                    return 'последний год';
                else if (this.selectedDates != null)
                    return this.selectedDates.start.toLocaleDateString() + " - " + this.selectedDates.end.toLocaleDateString();
                return period;
            },
            getTextForGraph: function (period) {
                if (period == 'now 1-d')
                    return 'последний день';
                else if (period == 'now 7-d')
                    return 'последнюю неделю';
                else if (period == 'now 1-m')
                    return 'последний месяц';
                else if (period == 'now 1-y')
                    return 'последний год';
                else if (this.selectedDatesForGraph != null)
                    return this.selectedDatesForGraph.start.toLocaleDateString() + " - " + this.selectedDatesForGraph.end.toLocaleDateString();
                return period;
            },
            getTags: function () {
                this.loading = true;
                this.$http.get(`/tags/`, {
                    params: {
                        sortType: this.selectedSortType,
                        date: this.period,
                        catid: this.selectedCategory
                    }
                })
                    .then((response) => {
                        this.tags = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getTagsForSearch: function () {
                this.loading = true;
                this.$http.get(`/tags-search/`)
                    .then((response) => {
                        this.tagList = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            getCategories: function () {
                this.$http.get('/categories/')
                    .then((response) => {
                        this.categories = response.data;
                        this.categories.forEach((obj) => {
                            this.options.push({value: obj.id, text: obj.name})
                        });
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            getTag: function (id) {
                this.loadingGraph = true;
                this.loadingQuestions = true;
                this.chartData = [];
                this.currentTag = id;
                this.currentTagsIdsOnChart = [this.currentTag];
                this.selectedCategoryForGraph = this.selectedCategory;
                this.selectedSortType = 'qcount';
                $("#tagDetailsModal").modal('show');
                this.periodForGraph = this.period;
                this.selectedDatesForGraph = this.selectedDates;
                this.getQuestions();
                this.getGraphForMultipleTags();
            },
            getTagFromSearchOnMain: function (id) {
                this.loadingGraph = true;
                this.loadingQuestions = true;
                this.chartData = [];
                this.currentTag = id;
                this.currentTagsIdsOnChart = [this.currentTag];
                this.selectedCategoryForGraph = this.selectedCategory;
                this.selectedSortType = 'qcount';
                $("#tagDetailsModal").modal('show');
                this.periodForGraph = this.period;
                this.selectedDatesForGraph = this.selectedDates;
                this.getQuestions();
                this.getGraphForMultipleTags();
            },
            getQuestions: function () {
                this.loadingQuestions = true;
                this.$http.get(`/questions/`, {
                    params: {
                        tags: this.currentTagsIdsOnChart,
                        date: this.periodForGraph,
                        catid: this.selectedCategoryForGraph
                    }
                })
                    .then((response) => {
                        this.questions = response.data;
                        this.loadingQuestions = false;
                    })
                    .catch((err) => {
                        this.loadingQuestions = false;
                        console.log(err);
                    });
            },
            getGraphForMultipleTags: function () {
                this.loadingGraph = true;
                this.$http.get(`/graph/`, {
                    params: {
                        tags: this.currentTagsIdsOnChart,
                        date: this.periodForGraph,
                        catid: this.selectedCategoryForGraph
                    }
                })
                    .then((response) => {
                        this.chartData = response.data;
                        this.loadingGraph = false;
                    })
                    .catch((err) => {
                        this.loadingGraph = false;
                        console.log(err);
                    })
            },
            compare: function () {
                $("#tagCompareModal").modal('show');
            },
            showSelectCustomRangeForGraph: function () {
                $("#customRangeForGraphModal").modal('show');
                this.selectedDatesForGraph = null;
            },
            selectCustomRangeForGraph: function () {
                this.loadingGraph = true;
                $("#customRangeForGraphModal").modal('hide');
                this.periodForGraph = this.selectedDatesForGraph.start.toISOString() + " " + this.selectedDatesForGraph.end.toISOString();
                this.getGraphForMultipleTags();
                this.getQuestions();
            },
            showSelectCustomRange: function () {
                $("#customRangeModal").modal('show');
                this.selectedDates = null;
            },
            selectCustomRange: function () {
                this.loadingGraph = true;
                $("#customRangeModal").modal('hide');
                this.period = this.selectedDates.start.toISOString() + " " + this.selectedDates.end.toISOString();
                this.getTags();
            },
            toQuestion: function (id) {
                return "https://otvet.mail.ru/question/" + id;
            },
            clearCurrentTagsOnChart: function () {
                this.currentTagsIdsOnChart = [];
            },
            addToGraph: function (id) {
                this.loadingGraph = true;
                if (this.currentTagsIdsOnChart.indexOf(id) === -1) {
                    this.currentTagsIdsOnChart.push(id);
                }
                $("#tagCompareModal").modal('hide');
                this.getGraphForMultipleTags();
                this.getQuestions();
            },
            onCategoryChange: function () {
                this.getTags();
            },
            onCategoryChangeForGraph: function () {
                this.getGraphForMultipleTags();
                this.getQuestions();
            },
            updateRangeForGraph: function (period) {
                this.periodForGraph = period;
                this.getGraphForMultipleTags();
                this.getQuestions();
            },
            updateRange: function (period) {
                this.period = period;
                this.getTags()
            },
            onSearchChange: function () {
                if (this.searchText.length === 0) {
                    this.tagList = [];
                    return;
                }
                this.loadingSearch = true;
                this.$http.get(`/tags-search/`, {
                    params: {
                        searchText: this.searchText
                    }
                })
                    .then((response) => {
                        this.tagList = response.data;
                        this.loadingSearch = false;
                    })
                    .catch((err) => {
                        this.loadingSearch = false;
                        console.log(err);
                    });
            },
            onSearchChangeMain: function () {
                if (this.searchTextMain.length === 0) {
                    this.tagListMain = [];
                    return;
                }
                this.loadingSearchMain = true;
                this.$http.get(`/tags-search/`, {
                    params: {
                        searchText: this.searchTextMain
                    }
                })
                    .then((response) => {
                        this.tagListMain = response.data;
                        this.loadingSearchMain = false;
                    })
                    .catch((err) => {
                        this.loadingSearchMain = false;
                        console.log(err);
                    });
            },
            onSlideStart(slide) {
                this.sliding = true
            },
            onSlideEnd(slide) {
                this.sliding = false
            },
            getTextTrunc(text) {
                return text.length > 100 ? text.substring(0, 100) + '...' : text;
            },
            getCurrentTagsNames() {
                var arr = [];
                for (var i = 0; i < this.chartData.length; i++) {
                    arr.push(this.chartData[i].name)
                }
                return arr.join(", ")
            },
        }
    });

</script>
</body>
</html>